<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mingmin.practice">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mingmin.practice.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mingmin.practice.bottomsheet.BottomSheetActivity" />
        <activity android:name="com.mingmin.practice.transparenttoolbar.TransparentToolbarActivity" />
        <activity android:name="com.mingmin.practice.ratingbar.RatingBarActivity" />
        <activity android:name="com.mingmin.practice.firestore.FirestoreActivity" />
        <activity android:name="com.mingmin.practice.firestore.FirestoreDetailActivity" />
        <activity android:name="com.mingmin.practice.retrofit.RetrofitActivity" />
    </application>

</manifest>